<h2>MCQ Quiz Maker Type C Version 1</h2>
<div id=tg_pg ng-app=myApp ng-controller=myCtrl>
<form class=tool>
<input ng-disabled=!isSavedInLocalStorage class=tool_btn type=button value="Reset or Start New Quiz" ng-click=clearContentSettings()>
<br>
<div class=radio-toolbar>
<input type=radio id=questions name=selectType ng-model=selectType value=questions>
<label for=questions>Quiz Questions Editor</label>
</div>
<div class=form_container>
<div ng-show="selectType == 'questions'">
<div class=single-question-container ng-repeat="q in editableData" ng-init="qindex = $index;q.selected=null">
<div class=removeQuestion ng-click=removeQuestion(qindex) ng-show="$index==editableData.length-1">X</div>
<div class=question>
<span class=questionNum>{{$index+1}}.</span>
<div class=questionName>
<input ng-model=q.question ng-change=changValue()>
</div>
</div>
<div ng-show="q.type == qtype[0]" class=option ng-repeat="option in q.options" ng-init="oindex = $index">
<input type=radio id=editradio{{qindex}}{{oindex}} name=editradio{{qindex}} value={{oindex}} ng-model=q.selected ng-change=changValue() ng-checked=option.right>
<label for=editradio{{qindex}}{{oindex}} name=editradio{{qindex}}><input ng-model=option.value ng-change=changValue()>
</label>
</div>
<div class=addOption ng-click=addOption(qindex)>Add Option</div>
<div>
<div>Expain Answer(Optional): It will be displayed when the answers are revealed.</div>
<textarea class=explanation ng-model=q.explanation ng-change=changValue() placeholder="Explain Answer (Optional)"></textarea>
</div>
</div>
<div class=addQuestion ng-click=addQuestion()>Add Question</div>
</div>
</div>
</form>
<br>
<div><b>Live Quiz View:</b></div>
<br>
<div class=responsive_container><div class=row><div class="column desktop_column"><div id=desktop_view><div class=view_gradient>
<div id=quiz_container>
<div id=score-board ng-show="currentQuestion == data.length" style=text-align:center>
<b>Result:</b>
<br>
<div id=score-card>{{score}} out of {{data.length}}</div>
</div>
<div class=single-question-container ng-repeat="q in data" ng-init="qindex = $index;" ng-show="currentQuestion == qindex || currentQuestion == data.length" ng-class="{'enabled': currentQuestion != data.length,'disabled': currentQuestion == data.length}">
<div class=question>
<div class=questionNum>{{qindex+1}}/{{data.length}}</div>
<div class=questionName>{{q.question}}</div>
</div>
<div class=options-container>
<div class=label-div ng-init="oindex = $index" ng-click=selectedOption(qindex,oindex) ng-repeat="opt in q.options" ng-class="{'correct': opt.right, 'incorrect': (!opt.right && opt.selected)}">
{{opt.value}}
</div>
</div>
<div class=demo_explaina ng-if=q.explanation>
<b>Explanation: </b> {{q.explanation}}
</div>
</div>
</div>
</div></div></div><div class="column mobile_column"></div></div></div>
<br>
<code-generater dat="{isShowAllQuestions:isShowAllQuestions, isShowTimer:isShowTimer, data:data, maxWidth:maxWidth, maxWidthType:maxWidthType,alignType:alignType,showGeneratedCode:showGeneratedCode}"></code-generater>
</div>
