<div id=tg_pg ng-app=myApp ng-controller=myCtrl>
<form class=tool>
<input ng-disabled=!isSavedInLocalStorage class=tool_btn type=button value="Reset or Start New Quiz" ng-click=clearContentSettings()>
<br>
<div class=radio-toolbar>
<input type=radio id=questions name=selectType ng-model=selectType value=questions>
<label for=questions>Quiz Questions</label>
<input type=radio id=settings name=selectType ng-model=selectType value=settings>
<label for=settings>Quiz Settings</label>
</div>
<div class=form_container>
<div ng-show="selectType == 'settings'" style="background:0 0;color:#000;box-shadow:rgb(38 57 77) 0 1px 15px 0;margin:10px 0;border:1px solid gray">
<input type=checkbox id=showAllQuestions ng-model=isShowAnswersBtn ng-change=changValue();>
<label for=showAllQuestions>Show Answers Button</label>
<input type=checkbox id=showReset ng-model=isShowResetBtn ng-change=changValue()>
<label for=showReset>Show Try Again Button</label>
<br>
<div style="border-radius:3px 0 0 3px;border:1px solid #d3d3d3;margin:2px;padding:14px 9px">Font Size: <input type=number min=1 max=100 ng-model=fontsize ng-change=changValue()>px</div>
</div>
<div ng-show="selectType == 'questions'">
<div class=single-question-container ng-repeat="q in editableData" ng-init="qindex = $index;q.selected=null">
<div class=removeQuestion ng-click=removeQuestion(qindex) ng-show="$index==editableData.length-1">X</div>
<div class=question>
<span class=questionNum>{{$index+1}}.</span>
<div class=questionName><input ng-model=q.question ng-change=changValue()></div>
</div>
<div ng-show="q.type == qtype[0]" class=option ng-repeat="option in q.options" ng-init="oindex = $index">
<input type=radio id=editradio{{qindex}}{{oindex}} name=editradio{{qindex}} value={{oindex}} ng-model=q.selected ng-change=changValue() ng-checked=option.right>
<label for=editradio{{qindex}}{{oindex}} name=editradio{{qindex}}><input ng-model=option.value ng-change=changValue()>
<div class=removeOption ng-click="removeOption(qindex, oindex)" ng-show="$index == q.options.length-1">X</div>
</label>
</div>
<div ng-show="q.type == qtype[1]" class=option ng-repeat="option in q.options" ng-init="oindex = $index">
<input type=checkbox id=editcheckbox{{qindex}}{{oindex}} name=editcheckbox{{qindex}} value={{oindex}} ng-checked=option.right ng-model=option.right ng-change=changValue()>
<label for=editcheckbox{{qindex}}{{oindex}} name=editcheckbox{{qindex}}><input ng-model=option.value ng-change=changValue()>
<div class=removeOption ng-click="removeOption(qindex, oindex)" ng-show="$index == q.options.length-1">X</div>
</label>
</div>
<div class=addOption ng-click=addOption(qindex)>Add Option</div>
</div>
<div class=addQuestion ng-click=addQuestion()>Add Question</div>
</div>
</div>
</form>
<br>
<div><b>Live Quiz View:</b></div>
<br>
<div class=responsive_container><div class=row><div class="column desktop_column"><div id=desktop_view><div class=view_gradient>
<div class=question-container ng-style={fontSize:fontsize}>
<div class=inner-container>
<div class=question ng-repeat="q in data" ng-init="qindex = $index" ng-show="(currentQuestion == qindex) || (optionSelected && quizCompleted)" ng-class="{'enabled':(currentQuestion == qindex && !optionSelected),'disabled':(optionSelected),'showAll':(quizCompleted)}">
<div class=question_number>{{$index+1}}/{{data.length}}</div>
<div class=question_name>{{q.question}} </div>
<div class=options>
<div class=option ng-repeat="option in q.options" ng-init="oindex = $index;" ng-click=onOptionSelection(qindex,oindex) ng-class="{'correct':(optionSelected && option.right),'incorrect':(optionSelected && q.selected==oindex && !option.right)}">{{option.value}}<span class=right>&#10004;</span><span class=wrong>X</span></div>
</div>
<div class=next ng-show=!quizCompleted><input type=button class=nextBtn value=Next ng-click=onNext(); ng-style={fontSize:fontsize}></div>
</div>
<div class=quiz-report style=text-align:center ng-show="data.length == currentQuestion">
<div>
<div><b>Result:</b></div>
<br>
<div>{{score}} of {{data.length}}</div>
<br>
<div>{{(score/data.length)*100|number}} %</div>
</div>
<input ng-show=isShowAnswersBtn type=button value="Show Answers" ng-click=showAnswers(); ng-style={fontSize:fontsize}>
<input ng-show=isShowResetBtn type=button value="Try Again" ng-click=resetQuiz(); ng-style={fontSize:fontsize}>
</div>
</div>
</div>
</div></div></div><div class="column mobile_column"></div></div></div>
<br>
<code-generater dat="{isShowAllQuestions:isShowAllQuestions, isShowTimer:isShowTimer, data:data, maxWidth:maxWidth, maxWidthType:maxWidthType,alignType:alignType,showGeneratedCode:showGeneratedCode}"></code-generater>
</div>
